<section class="primary-overlay py-3">
    <div class="text-white">
      <div class="container davy-content sang-content">
        <div class="row">
          <div class="d-flex col-md-12 justify-content-center pt-4 mt-1">
            <h4>Grade Point Average</h4>
          </div>
        </div>
        <div class="row mt-4 mb-1">
          <h5>Grade Point Average</h5>
        </div>
        <div class="row mb-1">
          <div class="col-2">Number of Credits</div>
          <div class="col-2">18</div>
        </div>
        <div class="row mb-1">
          <div class="col-2">Semester</div>
          <div class="col-2">6th</div>
        </div>
        <div class="row mb-2">
          <div class="col-2">Academic Year</div>
          <div class="col-2">2017 - 2018</div>
        </div>
        <div class="row">
          <div class="table-responsive">
            <table class="table table-striped table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Course ID</th>
                  <th scope="col-md-4">Course Title</th>
                  <th scope="col" class="td-center">Credit</th>
                  <th scope="col" class="td-center">Grade</th>
                  <th scope="col" class="td-center">Points</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>953323</td>
                  <td>Software Construction, Testing and Maintenance</td>
                  <td class="td-center">3</td>
                  <td class="td-center">A</td>
                  <td class="td-center">4.00</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>953323</td>
                  <td>Software Construction, Testing and Maintenance</td>
                  <td class="td-center">3</td>
                  <td class="td-center">A</td>
                  <td class="td-center">4.00</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>953323</td>
                  <td>Software Construction, Testing and Maintenance</td>
                  <td class="td-center">3</td>
                  <td class="td-center">A</td>
                  <td class="td-center">4.00</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>953323</td>
                  <td>Software Construction, Testing and Maintenance</td>
                  <td class="td-center">3</td>
                  <td class="td-center">A</td>
                  <td class="td-center">4.00</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                  <td>953323</td>
                  <td>Software Construction, Testing and Maintenance</td>
                  <td class="td-center">3</td>
                  <td class="td-center">A</td>
                  <td class="td-center">4.00</td>
                </tr>
                <tr>
                  <th scope="row">6</th>
                  <td>953323</td>
                  <td>Software Construction, Testing and Maintenance</td>
                  <td class="td-center">3</td>
                  <td class="td-center">A</td>
                  <td class="td-center">4.00</td>
                </tr>
                <tr>
                  <th scope="row"></th>
                  <td></td>
                  <td class="td-end">Credits</td>
                  <td class="td-center">18</td>
                  <td class="td-center">GPA</td>
                  <td class="td-center">4.00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
</section>
