<section class="py-3">
  <div class="primary-overlay text-white">
    <div class="container davy-content bam-content">
      <div class="row">
        <div class="d-flex col-md-12 justify-content-center pt-4 mt-1">
          <h4>Grade Students</h4>
        </div>
      </div>

      <div class="row mt-4 mb-2">
        <h5>Student List</h5>
      </div>

      <div class="row mb-2">
        <div class="col-2">Course ID</div>
        <div class="col-7">953323</div>
        <div class="col-3">Grade Summary</div>
      </div>
      <div class="row mb-2">
        <div class="col-2">Course Name</div>
        <div class="col-6">Software Construction, Testing and Maintenance</div>
        <div class="col-2 td-end">No. Students</div>
        <div class="col-2 text-warning">4</div>
      </div>
      <div class="row mb-2">
        <div class="col-2">Section</div>
        <div class="col-6">701</div>
        <div class="col-2 td-end">Class GPA</div>
        <div class="col-2 text-warning">4.00</div>
      </div>

      <div class="row mb-2">
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Student ID</th>
              <th scope="col-md-4">Student Name</th>
              <th scope="col" class="td-center">Score</th>
              <th scope="col" class="td-center">Grade</th>
              <th scope="col" class="td-center">Point</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">1</th>
              <td>582115100</td>
              <td>Alex Spencer</td>
              <td class="td-center"><input type="number" value="90" min="0" max="100"></td>
              <td class="td-center">A</td>
              <td class="td-center">4</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>582115101</td>
              <td>Ashlyn Anderson</td>
              <td class="td-center"><input type="number" value="95" min="0" max="100"></td>
              <td class="td-center">A</td>
              <td class="td-center">4</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>582115102</td>
              <td>Anton Smith</td>
              <td class="td-center"><input type="number" value="85" min="0" max="100"></td>
              <td class="td-center">A</td>
              <td class="td-center">4</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>582115103</td>
              <td>Celeb Reynolds</td>
              <td class="td-center"><input type="number" value="100" min="0" max="100"></td>
              <td class="td-center">A</td>
              <td class="td-center">4</td>
            </tr>
            <tr>
              <th scope="row"></th>
              <td>Grade Distribution</td>
              <td class="">A = 4, B = 0, C = 0, D = 0, F = 0</td>
              <td class="td-center text-warning">Average Score</td>
              <td class="td-center text-warning">92.5</td>
              <td class="td-center text-warning">4.00</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row mb-5 justify-content-center">
        <div class="d-flex justify-content-center">
          <button type="button" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </div>
</section>
