html {
  height: 100%;
  margin: 0; }

body {
  background: url("../img/mountains.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.navbar {
  box-shadow: 2px 2px 5px #3291a6;
  opacity: 1;
  background: #fff; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 20px; }

.primary-overlay {
  position: absolute;
  background: rgba(50, 146, 166, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.davy-content {
  margin-top: 65px; }

.bam-content {
  margin-bottom: 100px; }

.sang-content {
  margin-bottom: 60px; }

.td-center {
  text-align: center; }

.td-end {
  text-align: right; }
